﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
	ViewData["Title"] = @localizer["home"];
	string src_midi_player = "https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0";
}
<div id="pageHome" class='container'>
	<form id="frmMain" method="post" class="form">
		<div id="buildMusic" class="row nomg">
			<div class="col-md-12">
				<div class="text-center">
					<h1 id="h1_about">@localizer["h1_about"]</h1>
				</div>
				<br /><br />
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<h4 class="h4_title">@localizer["cate"]</h4>
							<select id="slCate" class="form-control"></select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<h4 class="h4_title">@localizer["model"]</h4>
							<select id="slModel" class="form-control"></select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<h4 class="h4_title">@localizer["estimate_time"]</h4>
							<input class="form-control" type="text" disabled readonly name="estimate_time" id="estimate_time" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label><input type="checkbox" id="cbAdvance"> Advance</label>
						</div>
					</div>
				</div>
				<div class="row" id="divmodel1">
					<div class="col-md-2">
						<div class="form-group">
							<h4 class="h4_title">@localizer["ticks_per_quarter"]</h4>
							<input class="form-control" type="range" oninput="this.nextElementSibling.value = this.value" name="ticks_per_quarter" id="ticks_per_quarter" min="10" max="200" step="10" value="100" /><output>100</output>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<h4 class="h4_title">@localizer["limit"]</h4>
							<input class="form-control" type="range" oninput="this.nextElementSibling.value = this.value" name="nodes" id="nodes" min="10000" max="32768" step="128" value="10000" /><output>10000</output>
						</div>
					</div>
					<div class="col-md-2 hide">
						<div class="form-group">
							<h4 class="h4_title">@localizer["music_creator"]</h4>
							<input class="form-control" type="range" oninput="this.nextElementSibling.value = this.value" name="music_creator" id="music_creator" min="0.05" max="4" step="0.05" value="0.45" /><output>0.05</output>
						</div>
					</div>
					<div class="col-md-2 hide">
						<div class="form-group">
							<h4 class="h4_title">@localizer["filter"]</h4>
							<input class="form-control" type="range" oninput="this.nextElementSibling.value = this.value" name="filter" id="filter" min="1" max="10" step="1" value="6" /><output>1</output>
						</div>
					</div>

					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<h4 class="h4_title" style="color: transparent">.</h4>
							<button id="btnBuild" class="btn btn-block btn-primary">@localizer["btnBuild"]</button>
						</div>
						<span class="loader hide"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<div id="divResult">
									<table class="hide table table-striped table-responsive1" id="tblResult">
										<thead>
											<tr>
												<th>#</th>
												<th>@localizer["thMedia"]</th>
												<th>@localizer["thMidi"]</th>
												<th>@localizer["thActions"]</th>
												<th>@localizer["thTime"]</th>
												<th>VST</th>
												<th>Score</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div><br><br><br>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<div id="divLast">
									<h4 id="btnReload" class="center" title="Reload" style="cursor:pointer">
										<i class="fa fa-refresh" aria-hidden="true"></i>
										@localizer["top_last"]
									</h4>
									<table class="table table-striped table-responsive1" id="tblLast">
										<thead>
											<tr>
												<th>#</th>
												<th>@localizer["thMedia"]</th>
												<th>@localizer["thMidi"]</th>
												<th>@localizer["thActions"]</th>
												<th>@localizer["thTime"]</th>
												<th>VST</th>
												<th>Score</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<script>
	$(document).ready(function () {
		let allModel = [], allCate = [];
		let err_api = '@localizer["err_api"]';
		let download = '@localizer["download"]';
		let ajaxModel = $.ajax({
			url: "http://183.81.35.24:6788/api/modelai/list", method: "get",
			success: function (data) {
				if (data.data) {
					allModel = data.data;
				}
			},
			error: function (a) {
				console.log(a.responseText)
			}
		});
		let ajaxCate = $.ajax({
			url: "http://183.81.35.24:6788/api/category/list", method: "get",
			success: function (data) {
				if (data.data) {
					allCate = data.data;
				}
			},
			error: function (a) {
				console.log(a.responseText)
			}
		});
		$.when(ajaxModel, ajaxCate).done(function () {
			if (allModel.length > 0 && allCate.length > 0) {
				let optionModel = '';
				let optionCate = '';
				allModel.forEach(function (item) {
					optionModel += `<option value="${item.name}">${item.name}</option>`;
				});
				$('#slModel').html(optionModel);
				allCate.forEach(function (item) {
					optionCate += `<option value="${item.name}">${item.name}</option>`;
				});
				$('#slCate').html(optionCate);
				$('#btnBuild').removeAttr('disabled');
				$('#slModel').on('change', function () {
					let slModel = $('#slModel').val().toLowerCase();
					if (slModel == 'gpt') {
						$('#nodes').removeAttr('disabled');
						$('#music_creator').removeAttr('disabled');
						$('#ticks_per_quarter').removeAttr('disabled');
						$('#filter').removeAttr('disabled');
					} else {
	@* $('#nodes').attr('disabled', true); *@
							$('#music_creator').attr('disabled', true);
						//$('#ticks_per_quarter').attr('disabled', true);
						//$('#filter').attr('disabled', true);
					}
				});
				$('#slModel').change();
			}
		});
		let timeRun;
		let countTimeout;
		$('#divmodel1').toggle();
		$('#cbAdvance').change(function () {
			$('#divmodel1').toggle();
		});
		$('#btnBuild').click(function (e) {
			e.preventDefault();
			$('#btnBuild').attr('disabled', 'disabled');
			$('.loader').show();
			let cate = $('#slCate').val() || 'pop';
			let model = $('#slModel').val().toLowerCase() || 'model1';
			let nodes = $('#nodes').val() || 1000;
			let music_creator = $('#music_creator').val() || 0.05;
			let ticks_per_quarter = $('#ticks_per_quarter').val() || 1;
			let filter = $('#filter').val() || 1;
			let no_result = '@localizer["no_result"]';
			let datasend = {
				cate: cate,
				model: model,
				limit: nodes,
				nodes: nodes,
				music_creator: music_creator,
				ticks_per_quarter: ticks_per_quarter,
				datasenfilter: filter,
			}

			timeRun = parseInt(nodes) * 0.046;
			hcShowToast('@localizer["creating"]', '@localizer["please_wait"]', 'info', 'light', timeRun * 1000);
			$.ajax({
				url: 'http://210.245.90.204:3001/gen',
				//url: 'http://210.245.90.204:7779/api/genmusic',
				method: 'GET',
				data: datasend,
				beforeSend: function () {
					countTimeout = setInterval(function () {
						if (timeRun <= -1) {
							clearInterval(countTimeout);
							clearInterval(reloadTime);
							return false;
						}
						let minus_time = timeRun--;
						let srt = hcSecondToTimeSrt(minus_time);
						let left_time = '@localizer["left_time"]';
						$('#btnBuild').html(`${left_time}(${srt})`);
					}, 1000);
					CalEstimateTime();
				},
				success: function (data) {
					debugger;
					if (data.status && data.status == 'busy') {
						hcShowToast('Please wait', `AI System is busy!`, 'warning');
						return;
					}
					if (data.result && data.result.length > 0) {
						let i = 1;
						let audioHtml = '';
						data.result.forEach(function (item) {
							let time = item;
							let score = 0;
							let midi = item.replace('.wav', '.mid');
							console.log(time);
							console.log(time.substring(1, 5));
							console.log(time.substring(5, 7));
							audioHtml += `
																<tr>
																	<td><strong>${i}</strong></td>
																		<td><midi-player src="${midi}" sound-font visualizer="#myPianoRollVisualizer"></midi-player></td>
																	<td><a target="_blank" href="${midi}">MIDI</a></td>
																	<td><a target="_blank" href="${item}" title="${download}">${download}</a></td>
																	<td>${time.substring(1, 5)}-${time.substring(5, 7)}-${time.substring(7, 9)} ${time.substring(10, 12)}-${time.substring(12, 14)}-${time.substring(14, 16)}</td>
																	<td>
																		<select class="custom-select" id="slTypeVst" data-url="${midi}">
																			<option value="">-- Select --</option>
																			<option value="piano">Piano</option>
																			<option value="electric">Electric Guitar</option>
																			<option value="guitar">Guitar</option>
																			<option value="violin">Violin</option>
																			<option value="drum">Drum</option>
																			<option value="saxophone">Saxophone</option>
																		</select>
																	</td>
																	<td>${score}</td>
																</tr>
															`;
							i++;
						});
						$('#tblResult').removeClass('hide');
						$('#tblResult tbody').html('');
						$('#tblResult tbody').append(audioHtml);
						$('.growl-notification').remove();
						timeRun = 0;
						$('#btnBuild').html(`Tạo`);
						hcShowToast('', `Done!`, 'success');
					} else {
						$('#tblResult').removeClass('hide');
						$('#tblResult tbody').html('').append('<tr><td colspan="4">' + no_result + '</td></tr>');
						$('.growl-notification').remove();
					}
				},
				error: function (a) {

					hcShowToast('', `${err_api}`);
				}
			}).done(function () {
				$('.loader').hide();
				$('#btnBuild').removeAttr('disabled');
			});
		});
		function dateToYMD(date) {
			var d = date.getDate();
			var m = date.getMonth() + 1;
			var y = date.getFullYear();
			return '' + y + '-' + (m <= 9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
		}
		$('#btnReload').click(function (e) {
			e.preventDefault();
			$('#btnReload').attr('disabled', 'disabled');
			$('.loader').show();
			let cate = $('#slCate').val();
			let model = $('#slModel').val();
			let txtLimit = $('#txtLimit').val();
			let no_result = '@localizer["no_result"]';
			hcShowToast('@localizer["reload"]', '@localizer["please_wait"]', 'info', 'light', 1000);
			let dateToday = new Date();
			$.ajax({
				url: 'http://210.245.90.204:3001/get_list', method: "get",
				success: function (data) {
					if (!data) { return; }
					//data = data.replace("'result'", '"result"').replace(/'/g, '"');
					let lstList = data;
					if (lstList.result && lstList.result.length > 0) {
						let i = 1;
						let audioHtml = '';
						lstList.result.forEach(function (item) {
							let fileName = item.match(/[^\\/]*$/)[0];
							let score = 0;
							let midi = item.replace('.wav', '.mid').replace('/wav/', '/midi/');
							const regex = /\/(\d{4}_\d{2}_\d{2})\//;
							const matches = item.match(regex);
							let time = "";
							if (matches && matches.length > 1) {
								time = matches[1];
							}
							audioHtml += `
																<tr>
																	<td><strong>${i}</strong></td>
																	<td><midi-player src="${midi}" sound-font visualizer="#myPianoRollVisualizer"></midi-player></td>
																	<td><a target="_blank" href="${midi}">MIDI</a></td>
																	<td><a target="_blank" href="${item}" title="${download}">${download}</a></td>
																	<td>${time}</td>
																	<td>
																		<select class="custom-select" id="slTypeVst" data-url="${midi}">
																			<option value="">-- Select --</option>
																			<option value="piano">Piano</option>
																			<option value="electric">Electric Guitar</option>
																			<option value="guitar">Guitar</option>
																			<option value="violin">Violin</option>
																			<option value="drum">Drum</option>
																			<option value="saxophone">Saxophone</option>
																		</select>
																	</td>
																		<td>${score}</td>
															   </tr>
														   `;
							i++;
						});
						$('#tblLast tbody').html('');
						$('#tblLast tbody').append(audioHtml);
						$('.growl-notification').remove();
					} else {
						$('#tblLast tbody').html('').append('<tr><td colspan="4">' + no_result + '</td></tr>');
						$('.growl-notification').remove();
					}
				},
				error: function (a) {
					hcShowToast('', err_api);
				}
			}).done(function () {
				$('.loader').hide();
				$('#btnReload').removeAttr('disabled');
			});
		});
		function ReloadData() {
			let audioHtml = '';
			let lstDemo = [
				'111716_pop_GPT.wav', '091007_pop_GPT.wav', '091944_pop_GPT.wav', '105940_pop_MUSEGAN.wav', '105912_pop_MUSEGAN.wav',
				'104920_pop_GPT.wav', '104509_pop_GPT.wav', '104331_pop_GPT.wav', '105838_pop_MUSEGAN.wav', '103550_pop_GPT.wav'
			];
			let i = 1;
			lstDemo.forEach(function (item) {
				let time = item.split('_')[0];
				audioHtml += `
																<tr>
																	<td>${i}</td>
																	<td><audio controls><source src="${item}"></source></audio></td>
																	<td><a target="_blank" href="${item}" title="${download}">${download}</a></td>
																	<td>2021-11-23 ${time.substring(0, 2)}-${time.substring(2, 4)}-${time.substring(4, 6)}</td>
																</tr>
															`;
				i++;
			});
			$('#tblLast tbody').html('');
			$('#tblLast tbody').append(audioHtml);
		}
		//ReloadData();
		$('#btnReload').trigger('click');
		const hcSecondToTimeSrt = seconds => [parseInt(seconds / 60 / 60), parseInt(seconds / 60 % 60), parseInt(seconds % 60)].join(":").replace(/\b(\d)\b/g, "0$1");
		function CalDuration() {
			let ticks_per_quarter = $('#ticks_per_quarter').val();
			let nodes = $('#nodes').val();
			let time1 = parseInt(nodes) / parseInt(ticks_per_quarter);
			let rs = time1 * 6;
			if (time1 > 8) { rs = rs - (rs * 0.15); }
			$('#estimate_time').val(hcSecondToTimeSrt(rs));
		}

		function CalEstimateTime() {
			let reloadTime = setInterval(function () {
				if (timeRun <= -1) {
					$('#btnBuild').html('@localizer["btnBuild"]');
					clearInterval(countTimeout);
					clearInterval(reloadTime);
					return false;
				}
			}, 1000);
		}
		$('#ticks_per_quarter').on('change', function () { CalDuration(); });
		$('#nodes').on('change', function () { CalDuration(); });
		CalDuration();
		//===================== VST ===============================
		$(document).on({
			change: function () {
				let slCurrentClick = $(this);
				let slTypeVst = $(this).val();
				if (!slTypeVst) { return; }
				let linkUrl = document.location.origin + $(this).data('url');
				// Start Ajax
				hcShowToast('', `Please wait`, 'warning');
				$.ajax({
					url: 'http://14.232.245.107:7777/get_json_wav',
					type: 'post',
					xhrFields: { responseType: 'blob' },
					data: {
						url_midi: linkUrl,
						type: slTypeVst,
					},
					success: function (blob, status, xhr) {
						if (blob.size <= 0) {
							hcShowToast('', "Process done, but the file has no data!", 'danger');
							return;
						}
						var blobUrl = URL.createObjectURL(blob);
						window.audio = new Audio();
						window.audio.src = blobUrl;
						window.audio.controls = true;
						debugger
						//document.body.appendChild(window.audio);
						slCurrentClick.parent().find("audio").remove();
						slCurrentClick.after(window.audio);
						hcShowToast('', "Done!", 'success');
					},
					error: function (err) {
						hcShowToast('', "API Error or VST type is not support yet!", 'warning');
						console.log(err.responseText);
					}
				});
			},
		}, "#slTypeVst");
	});
	function updateTableResponsive() {
		var tables = $('table');
		if ($(window).width() < 768) {
			tables.each(function () {
				$(this).addClass('table-responsive');
			});
		} else {
			tables.each(function () {
				$(this).removeClass('table-responsive');
			});
		}
	}
	$(window).resize(function () {
		updateTableResponsive();
	});
</script>
<script src="@src_midi_player"></script>